body {
    font-family: 'Cairo', sans-serif;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(160, 134, 215, 0.8) 52%, rgba(0, 212, 255, 0.6) 100%);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#sudokuImage {
    display: block;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.6) 0%, rgba(160, 134, 215, 0.8) 52%, rgba(0, 212, 255, 0.6) 100%), url('../images/wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    width: 100%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    text-align: center;
}

#titleLogo {
    display: block;
    margin: auto;
    width: 30%;
}

#solve, #buttons button, #checkValidity, #generate {
    background: linear-gradient(rgba(156, 134, 215, 1) 0%, rgba(25, 0, 128, 1) 0%, rgba(0, 151, 255, 1) 100%);
    border-radius: 50px;
    border: none;
    margin: 20px;
}
#sudokuTable {
    border: 2px solid #e9dbdb;
    border-spacing: 0;
    border-collapse: collapse;
    padding: auto;
}

#sudokuTable td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    max-width: 55px;
}

#sudokuTable input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    background-color: #FFFFFF;
    outline: none;
    text-transform: uppercase;
    transition: all 0.5s;

}

#sudokuTable tr:nth-child(3n) {
    border-bottom: 4px solid #000000;
}

#sudokuTable tr:nth-child(3n+1) {
    border-top: 4px solid #000000;
}

#sudokuTable td:nth-child(3n) {
    border-right: 4px solid #000000;
}

#sudokuTable td:nth-child(3n+1) {
    border-left: 4px solid #000000;
}

h1{
    text-align: center;
}
ul p{
    font-size: larger;
    font-weight: bold;
}
ul li{
    display: block;
}
#instruction{
    padding-top:40px;
    text-align: center;
}

#buttons{
    text-align: center;
    padding: 20px;
}

#table{
    display: inline;
    text-align: center;
    margin: auto;
}

#solveText{
    display: none;
}